@font-face {
    font-family: Verdana;
    src: url(/swf/fonts/verdana.ttf);
}
  @font-face {
    font-family: Verdana;
    src: url(/swf/fonts/verdanab.ttf);
    font-weight: bold;
}
html{
    background-color: #181a1b;
    color: white;
    margin-top: 100px;
}
body{
    color: white;
    text-align: center;
    font-size: large;
    font-family: 'Verdana', sans-serif;
}
object{
    align-self: center;
}
.backbutton{
    border: none;
    color: white;
    background-color: #181a1b;
    text-align: left;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
    align-content: left;
    cursor: pointer;
}