@font-face {
    font-family: Verdana;
    src: url(/swf/fonts/verdana.ttf);
}
  @font-face {
    font-family: Verdana;
    src: url(/swf/fonts/verdanab.ttf);
    font-weight: bold;
}
html{
    background-color: black;
    color: white;
    margin-top: 100px;
}
body{
    color: white;
    text-align: center;
    font-size: large;
    font-family: 'Verdana', sans-serif;
}