@font-face {
    font-family: Verdana;
    src: url(/swf/fonts/verdana.ttf);
}
  @font-face {
    font-family: Verdana;
    src: url(/swf/fonts/verdanab.ttf);
    font-weight: bold;
}
html{
    background-color: black;
    color: white;
    margin-top: 50px;
}
body{
    color: white;
    text-align: center;
    font-size: large;
    font-family: 'Verdana', sans-serif;
}
object{
    align-self: center;
}
.button{
    border: none;
    display: inline-block;
    color: white;
    background-color: black;
    text-align: right;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
    align-content: left;
}