@font-face {
font-family: Verdana;
src: url(https://ipxforever.com/swf/fonts/verdana.ttf);
}
@font-face {
font-family: Verdana;
src: url(https://ipxforever.com/swf/fonts/verdanab.ttf);
font-weight: bold;
}
html {
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
text-align: center;
text-decoration: none;
font-family: 'Verdana', sans-serif;
font-size: large;
font-weight: bold;
}
h1 {
border-bottom: 2px black solid 50%;
margin-bottom: 1px;
}
@media (prefers-color-scheme: dark) {
    html {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        text-align: center;
        text-decoration: none;
        font-family: 'Verdana', sans-serif;
        font-size: large;
        font-weight: bold;
        }
}